/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;

  img {
    max-width: 90%;
    height: auto;
  }

  blockquote {
    padding: 0.8rem;
    background-color: rgba(150, 150, 150, 0.2);
    border-radius: var(--bs-border-radius);

    p:last-child {
      margin-bottom: 0;
    }

    ul:last-child {
      margin-bottom: 0;
    }
  }
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
