/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;

  img {
    max-width: 90%;
    max-height: 400px;
    margin-right: 0.4rem;
  }

  blockquote {
    padding: 0.6rem 0.6rem 0.6rem 0.4rem;
    background-color: rgba(150, 150, 150, 0.15);
    border-left: 0.8rem solid rgba(150, 150, 150, 0.2);
    border-radius: var(--bs-border-radius);

    p:last-child {
      margin-bottom: 0;
    }

    ul:last-child, ol:last-child {
      margin-bottom: 0;
    }

    a {
      //color: var(--bs-link-hover-color);
      opacity: 0.6;
    }

    // bootstrap 样式修改
    &.blockquote {
      font-size: 1.1rem;
    }
  }
}

.blog-post-meta {
  margin-bottom: 1rem;
  color: #727272;
  display: flex;
  margin-top: 1rem;

  & > .blog-post-date {
    padding-right: 1.25rem;
    margin-right: 1.25rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 1rem;
      background-color: #ccc;
    }
  }

  & > .blog-post-category {
    margin-right: 1.25rem;
  }

  a {
    color: var(--bs-body-color);
  }
}

@media (max-width: 700px) {
  .blog-post-meta {
    flex-direction: column;
    margin-top: 0.5rem;

    & > .blog-post-date {
      padding-right: 0;
      margin-right: 0;
      margin-bottom: 0.5rem;

      &::after {
        display: none;
      }
    }

    & > .blog-post-category {
      margin-right: 0;
    }
  }
}
