/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/

.highlight {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  overflow: auto;
  color: var(--bs-secondary-text-emphasis);

  & > table {
    display: block;
    width: 100%;

    & > tbody {
      display: block;
      width: 100%;

      & > tr {
        width: 100%;
        display: flex;

        //& > .td {
        //  flex: 1;
        //  display: block;
        //  width: 100%;
        //}
        & > td {
          border: none;
          padding: 0;
        }

      }
    }
  }


  .gutter {
    color: #797979;
    user-select: none;
    pointer-events: none;
    border-right: 1px solid var(--bs-border-color);

    pre {
      text-align: right;
      padding-right: 10px;
      margin-bottom: 0;
    }
  }

  .code {
    display: block;
    flex: 1;
    padding-left: 10px;
    overflow: auto;

    & > pre {
      margin-bottom: 0;
    }

    .doctag,
    .keyword,
    .meta .keyword,
    .template-tag,
    .template-variable,
    .type,
    .variable.language_ {
      /* prettylights-syntax-keyword */
      //color: #d73a49;
      color: var(--bs-code-color);
    }

    .title,
    .title.class_,
    .title.class_.inherited__,
    .title.function_ {
      /* prettylights-syntax-entity */
      //color: #6f42c1;
      color: var(--bs-link-hover-color);
    }

    .attr,
    .attribute,
    .literal,
    .meta,
    .number,
    .operator,
    .variable,
    .selector-attr,
    .selector-class,
    .selector-id {
      /* prettylights-syntax-constant */
      //color: #005cc5;
      color: var(--bs-warning-text-emphasis);
    }

    .regexp,
    .string,
    .meta .string {
      /* prettylights-syntax-string */
      //color: #0a8d00;
      color: var(--bs-form-valid-color);
    }

    .built_in,
    .symbol {
      /* prettylights-syntax-variable */
      //color: #e36209;
      color: var(--bs-warning);
    }

    .comment,
    .code,
    .formula {
      /* prettylights-syntax-comment */
      //color: #6a737d;
      color: var(-bs-border-color-translucent);
    }

    .name,
    .quote,
    .selector-tag,
    .selector-pseudo {
      /* prettylights-syntax-entity-tag */
      color: #22863a;
    }

    .subst {
      /* prettylights-syntax-storage-modifier-import */
      //color: #24292e;
      color: var(--bs-danger-text-emphasis);
    }

    .section {
      /* prettylights-syntax-markup-heading */
      color: #005cc5;
      font-weight: bold;
    }

    .bullet {
      /* prettylights-syntax-markup-list */
      color: #735c0f;
    }

    .emphasis {
      /* prettylights-syntax-markup-italic */
      color: #24292e;
      font-style: italic;
    }

    .strong {
      /* prettylights-syntax-markup-bold */
      color: #24292e;
      font-weight: bold;
    }

    .addition {
      /* prettylights-syntax-markup-inserted */
      color: #22863a;
      background-color: #f0fff4;
    }

    .deletion {
      /* prettylights-syntax-markup-deleted */
      color: #b31d28;
      background-color: #ffeef0;
    }

    .char.escape_,
    .link,
    .params,
    .property,
    .punctuation,
    .tag {
      /* purposely ignored */
      //color: #aa7900;
      color: var(--bs-warning-text-emphasis);
    }
  }

}
