.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}

.aside-section {
  & > .tag-list {
    margin-left: -4px;
    position: relative;

    & > .tag-item-wrap {
      display: flex;
      flex-wrap: wrap;
      max-height: 200px;
      overflow: hidden;

      & > .tag-item {
        padding: 0 4px;
        margin-bottom: 4px;

        & > a {
          white-space: nowrap;
          display: block;
          padding: 2px 6px;
          border-radius: 4px;
          background-color: var(--bs-light-border-subtle);
          color: var(--bs-secondary-text-emphasis);
          text-decoration: none;
          font-size: 14px;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    &.expanded {
      & > .tag-item-wrap {
        max-height: unset;
        padding-bottom: 25px;
      }

      & > .tag-toggle-trigger {

        &::before {
          content: attr(data-collapse);
        }
      }
    }

    & > .tag-toggle-trigger {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      cursor: pointer;
      //color: #02a7f0;
      white-space: nowrap;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.9) 50%, transparent);

      & > .bi {
        display: inline-block;
        width: 16px;
        height: 16px;
        //font-size: 14px;
        //transform: translateY(1px) scaleY(1);
      }

      &::before {
        content: attr(data-expand);
      }

      &:hover {
        color: #888;
      }
    }
  }
}
