<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="site-logo bi me-2">
      <use href="#logo"></use>
    </svg>
    <span class="fs-4"><%= config.title %></span>
  </a>
  <ul class="nav nav-pills">
    <% for (const key in theme.navs){ %>
      <li class="nav-item">
        <% const navPath = theme.navs[key] %>
        <a href="<%= url_for(navPath) %>" class="nav-link <%= is_current(navPath) ? 'active' : '' %>"><%= key %></a>
      </li>
    <% } %>
  </ul>
</header>
